@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");
:root {
  font-family: 'Rubik';
  /*-------------Colors------------- */
  --ColorDarkA: hsl(0, 0%, 0%);
  --ColorDarkB: hsl(0, 0%, 18%);
  --ColorWhiteA: hsl(0, 0%, 94%);
  --ColorWhiteB: hsl(0, 0%, 90%);
  /*-------------FontSize -- Golden Ratio (1.618) Base Size 13px------------- */
  --FontH1: 233.25px;
  --FontH2: 144.16px;
  --FontH3: 89.10px;
  --FontH4: 55.07px;
  --FontH5: 34.03px;
  --FontParagraph: 21.03px;
  --FontSubtitle: 13px;
  /*-------------GoldenRatio (1.618) (Viewport Width 1920px)------------- */
  --GoldenRatio1: 1920px;
  --GoldenRatio2: 1186.65px;
  --GoldenRatio3: 733.41px;
  --GoldenRatio4: 453.28px;
  --GoldenRatio5: 280.15px;
  --GoldenRatio6: 173.15px;
  --GoldenRatio7: 107.01px;
  --GoldenRatio8: 66.14px;
  --GoldenRatio9: 40.88px;
  --GoldenRatio10: 25.27px;
}

::-webkit-scrollbar {
  display: none;
}

#About-Section  {
  cursor:default;
  margin: 0;
  padding: 0;
  color: var(--ColorDarkA);
  height: 470vh;
  margin-top: -1px;
}

#About-Section {
    /*background-image: linear-gradient(to bottom, #564705, #1a5104, #4b034d, #ee6e0c, #d1db0a, #ebff09, #05243f, #07223c, #0c213a, #102039, #131f37, #151e35);*/
    background-size: cover;
    /*background-color: #0f1b2c;*/
    background-color: #073856;
    background-image: linear-gradient(#051a34 ,#051a34);

}
.logowrapper h1{
  position: relative;
  color: aliceblue;
  padding: 8%;
  padding-top: 0;
  text-align: center;
  width: 100%;
  font-size: xxx-large;
  margin-top: 0;
}
#ImgWrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  perspective: 2200px;
}

#ImgWrapper img {
  position: absolute;
  /* box-shadow: 0 0 31px black; */
}

#ImgWrapper #img8 {
  width: 32%;
}

#codeby {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
  }

#ImgWrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}


#test, #test1, #test2{position:absolute}

#test3 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@media only screen and (min-width: 720px) and (max-width:1600px) {
  #test3 #test3img1{
    width: 95%;
    scale: 0.8;
  }
  #test3 #test3img2{
    width: 100%;
    position: relative;
    top: -23px;
  }
  
  #codeby span{
    width:45%;
    margin-left: 45%;
    text-align:start;
    text-decoration: none;
    font-size: 160%;
    font-weight: 400;
    color: var(--ColorWhiteB);
  }
  #codeby a span {
    font-weight: 800;
    width: 70vw;
    font-size: 4vw;
    display: inline-block;
    left: 10%;
    position: relative;
    color: var(--ColorWhiteA);
  }
}

@media only screen and (max-width: 719px) {
  #ImgWrapper #img8 {
      width: 60%;
  }
  #codeby #testa{
    font-weight: 900;
    position: relative;
    font-size: 160%;
    text-align: center;
    top: 150%;
    color: var(--ColorWhiteA);
  }

  #test, #test1, #test2 {position:relative}
  #codeby span{
    position: absolute;
    width:75%;
    text-align:center;
    text-decoration: none;
    font-size: 120%;
    font-weight: 400;
    color: var(--ColorWhiteB);
    top: 47%;
  }

  #test3 {
    display: flex;
    position: relative;
    /* right: 10px; 
    left: 20px; */
    margin-left: 10px;
    align-items: center;
    row-gap: 9vh;
    flex-direction: column;
  }
  #test3 a {
    width: 80%;
  }
  #test3 #test3img1{
    width: 90%;
    scale: 0.8;
  }
  #test3 #test3img2{
    width: 90%;
  }
}

@media only screen and (min-width : 1600px){
	#test3 a {
    width: 30%;
  }
  #test3 #test3img1{
    width: 95%;
    scale: 0.8;
  }
  #test3 #test3img2{
    width: 100%;
    position: relative;
    top: -56px;
  }
  
  #codeby span{
    width:45%;
    margin-left: 45%;
    text-align:start;
    text-decoration: none;
    font-size: 48px;
    font-weight: 400;
    color: var(--ColorWhiteB);
  }
  #codeby a span {
    font-weight: 800;
    width: 70vw;
    font-size: 4vw;
    display: inline-block;
    left: 10%;
    position: relative;
    color: var(--ColorWhiteA);
  }
}

@media only screen and (min-width : 3200px){
  .logowrapper h1 {
    position: relative;
    color: aliceblue;
    padding: 8%;
    padding-top: 0;
    text-align: center;
    width: 100%;
    font-weight: 700;
    font-size: 150px;
    margin-top: 0;
}
	#test3 a {
    width: 30%;
  }
  #test3 #test3img1{
    width: 95%;
    scale: 0.8;
  }
  #test3 #test3img2{
    width: 100%;
    position: relative;
    top: -86px;
  }
  
  #codeby span{
    width:45%;
    margin-left: 45%;
    text-align:start;
    text-decoration: none;
    font-size: 70px;
    font-weight: 400;
    color: var(--ColorWhiteB);
  }
  #codeby a span {
    font-weight: 800;
    width: 70vw;
    font-size: 4vw;
    display: inline-block;
    left: 10%;
    position: relative;
    color: var(--ColorWhiteA);
  }
}