@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
::selection {
  background-color: #d2b48c;
  color: #0f1b2c;
}

.loader-wrap {
  fill: #d2b48c;
  position: absolute;
  z-index: 510;
  height: 100vh;
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  background: transparent;
}
.loader-wrap svg {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 110vh;
}

@media (max-width: 600px) {
  /*
    .loader-wrap svg {
        width: 200vw;
        margin-left: -50vw;
    }*/
    .loader-wrap-heading{
        scale: 0.6;
    }
}
/*
.loader-wrap-heading {
    max-width: 600px;
    height: auto;
    object-fit: cover;
    justify-self: center;
    float: right;
  }
*/

  .button{
    border: 1px solid #fff;
    padding: 10px;
    color: #fff;
    text-decoration: none;
}

@keyframes opacitychange{
  0%{
    opacity: 0;
  }
  100%{
      opacity: 1;
  }
}

#popup.active {
  display: flex;
  animation: opacitychange 1s forwards;
  z-index: 651;
}

#popup{
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    /* z-index: 651; */
    opacity: 0;
    background: rgba(0,0, 0, 0.6);
    z-index: -1;
}

#popup .popup-content{
  width: 60%;
  max-width: 720px;
  z-index: 655;
  display: flex;
  height: 50%;
  border: 2px solid white;
  border-radius: 15px;
  position: relative;
  background-color: rgb(29 29 72 / 73%);
  max-height: 200px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.4);
  transition: all 1s ease-in-out;
  justify-content: center;
  align-items: center;
}

#popup img{
    width: 100%;
    height: 100%;
    border-radius: 13px;
}

#popup .popblur{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  backdrop-filter: blur(5px); 
  z-index: 650; 
  display: flex;
  justify-content: center;
  align-items: center; 
}

#popup .popoutside{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 651;
  display: flex;
  justify-content: center;
  align-items: center; 
}

#popup p {
    color: aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 150%;
    text-align: center;
}

#popup button{
  position: absolute;
  width: auto;
  height: 42px;
  padding: 2%;
  bottom: 10%;
  left: 38%;
  border: 1px solid white;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: burlywood;
  transition-duration: 0.3s;
  color: aliceblue;
  scale: 1.2;
  transition-property: box-shadow, transform;
}

#popup button:hover{
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width : 420px){
  #popup button{
    left: 15%;
  }
  #popup p {
    font-size: 100%;
  }
}

#popup button a{
  border-radius: 15px;
  text-decoration: none;
  color: white;
  background-color: #d2b48c;
}

#popup .close{
  position: absolute;
top: 2.5%;
right: 1.5%;
border-radius: 112%;
width: 30px;
height: 30px;
text-align: center;
align-content: center;
cursor: pointer;
transition: scale 0.3s ease;
}

#popup .close:hover{
scale: 1.2;
transition: scale 0.3s ease;
}

#popup:target{
    display: flex;
    justify-content: center;
    align-items: center;
}