#poster-session {
    height: 140vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    column-gap: 2rem;
}

#poster-session h1 { 
    font-weight: bolder;
    color:aliceblue;
    font-family: Rubik;
    font-size: 11vh;
    margin-bottom: 0vh;
}

#poster-session::before {
	content: "";
	display:flex;
	position: absolute;
	/*transform: translateY(-21vh);*/
	width: 100%;
	height: 140vh;
	background: linear-gradient(to bottom, rgba(5, 26, 52, 1) 0%, rgba(0, 0, 0, 0) 20%);
	z-index: 1;
}

.glasscard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 900px;
    height: auto;
    width: 75%;
    padding: 25px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(3px); 
    border: 1px solid rgba(255, 255, 255, 0.2); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15); 
    overflow: visible; 
    margin-top: 2%;
    box-shadow:-12px 12px 8px #0F1B2C;
}

.glasscard p {
    color: #fff; 
    font-size: 25px;
    line-height: 1.5;
    margin-bottom: 15px; /* Margin between paragraphs */
}

.glasscard strong {
    font-weight: bold; 
}


.paper {
    position: absolute;
    left: -18%;
    top: 1%;
    display: flex;
    justify-content: center;
    width: 35%;
    background-color: #d2b48c;
    box-shadow: -6px 6px 9px #0F1B2C;
    transform: rotate(-20deg);
    transform-origin: top left;
    height: 27%;
  }
  
  .paper p {
    margin: auto;
    color : #000;
    font-family: "Caveat", cursive;
    font-size: 20px;
    font-weight: bolder;
  }
  
  .pin {
    --pin-color: #d02627;
    --pin-dark: #9e0608;
    --pin-light: #fc7e7d;
    position: absolute;
    left: 5%;
    top: -18%;
    width: 60px;
    height: 50px;
  }
  
  .shadow {
    position: absolute;
    top: 18px;
    left: -14px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: radial-gradient(#000, 20%, rgba(201, 191, 141, 0));
  }
  
  .metal {
    position: absolute;
    width: 5px;
    height: 20px;
    background: linear-gradient(to right, #808080, 40%, #eae8e8, 50%, #808080);
    border-radius: 0 0 30% 30%;
    transform: rotate(50deg);
    transform-origin: bottom left;
    top: 15px;
    border-bottom: 1px solid #808080;
  }
  
  .bottom-circle {
    position: absolute;
    right: 15px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--pin-color);
    background: radial-gradient(
      circle at bottom right,
      var(--pin-light),
      25%,
      var(--pin-dark),
      90%,
      var(--pin-color)
    );
  }
  
  /* Barrel */
  .bottom-circle::before {
    content: "";
    position: absolute;
    top: 0;
    left: -2px;
    width: 20px;
    height: 30px;
    transform: rotate(55deg);
    transform-origin: 100% 100%;
    border-radius: 0 0 40% 40%;
    background: linear-gradient(
      to right,
      var(--pin-dark),
      30%,
      var(--pin-color),
      90%,
      var(--pin-light)
    );
  }
  
  /* Top circle */
  .bottom-circle::after {
    content: "";
    position: absolute;
    right: -10px;
    top: -5px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: radial-gradient(
      circle at right,
      var(--pin-light),
      30%,
      var(--pin-color),
      var(--pin-dark) 80%
    );
  }
  

  
#poster-session .rowPoster2 .col-md-6 {
    padding: 5%;
    font-size: 23px;
    width: 70%;
}

  #poster-session .btn1 {
	display: inline-block;
	font-family: inherit;
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.5;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	user-select: none;
	outline: none;
	border: none;
	border-radius: 0.25rem;
	text-transform: unset;
	height: 10vw;
	overflow: hidden;
	padding: 0;
	width: 175px;
	height: 70px;
	border-radius: 70px;
	background-color: #d2b48c;
	transition: all .2s
}

@media only screen and (max-width:600px){
  #poster-session .btn1 {
    width: 145px;
    height: 60px;
  }
  
}

#poster-session .btn1 .textt {
	transition: all .2s;
	color: #fff;
}

#poster-session .btn1:hover {
	background-color: #cdd9e4;
	color: #000;
}

#poster-session .btn1:hover .textt {
	transform: translateX(5px) scale(1.1);
	color: black;
}

#poster-session .btn1 .textt i{
    transform: rotateY(180deg);
    scale: 2;
    padding: 8%;
}

/* #hero .btn1 img {
	opacity: 1;
	filter: invert();
} */

#poster-session .textt {
	position: absolute;
	display: flex;
	align-items: stretch;
    justify-content: flex-end;

}

#poster-session .btn1-inline {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	column-gap: 0.5rem;
}

#poster-session .textt i.bx-right-arrow-alt:before {
    content: "\21B5";
    top: -2px;
    position: relative;
}

body{
    background-color: black;
}
.amp{
    
    grid-template-columns: 1.5fr 5fr;
    display: grid;
    align-items: center;
    z-index: 5;
}
.amp img{
    grid-area: 1 / 1;
    height: 100px;
    rotate: -45deg;
}
.amp p{
    grid-area: 1 / 2;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1cm;
}

.textforphone {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1cm;
    opacity: 0;
    z-index: 5;
    position: absolute;
}

@media only screen and (max-width : 719px){
  .amp p {
    position: fixed;
  }
  .textforphone {
    opacity: 0.9;
    width: 80%;
  }
}

#glasscard-and-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6%;
}

#poster-session .rowPoster2{
    display: flex;
    font-size: larger;
    color: aliceblue;
    flex-direction: row;
    align-items: center;
    width: 70%;
}

#poster-session .rowPoster1{
    display: flex;
    align-items: center;
    z-index: 6;
}

#poster-session .containerPoster{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5vh;
}

@media only screen and (max-width: 719px) {
  #poster-session .paper{
    opacity: 0;
  }
  .glasscard p {
    color: #fff;
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 15px;
  }
  #poster-session .rowPoster2 .col-md-6 {
    padding: 5%;
    font-size: 13px;
    width: 60%;
  }
  .regbutton {
    width: 0%;
    scale: 0.65;
  }
}

.Newbanner-line {
  width: 160px;
  transform: rotate(-45deg);
  height: 5vw;
  background-color: #D2B48C;
  /* margin: 0 auto; */
  position: absolute;
  top: 25px;
  overflow: hidden;
  left: -40px;
}
.Newbanner-line h2 {
  top: -2px;
  position: relative;
  font-size: 4.5vw;
  color: white;
  font-weight: 600;
}

.Newonlyforphone {
  width: 45%;
  height: 45%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

@media only screen and (min-width : 719px) {
  .Newonlyforphone {
      opacity : 0;
  }
}
