@charset "UTF-8";
#poster-session {
    height: 140vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    column-gap: 2rem;
}

#poster-session h1{
    position: relative;
    color: aliceblue;
    padding-top: 0;
    text-align: center;
    width: 100%;
    font-size: xxx-large;
    margin-top: 0;
  }

#poster-session::before {
	content: "";
	display:flex;
	position: absolute;
	/*transform: translateY(-21vh);*/
	width: 100%;
	height: 141vh;
	background: linear-gradient(to bottom, rgba(5, 26, 52, 1) 0%, rgba(0, 0, 0, 0) 40%);
	z-index: 1;
}

#poster-session #FAQpopup .content a{
  text-decoration: underline;
  font-size: 16px;
  color:aliceblue;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
}

#poster-session #FAQpopup .content a:hover{
  font-size: 17px;
  color:#afcdeb;
}


.glasscard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 900px;
    height: auto;
    width: 75%;
    padding: 25px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4px); 
    border: 1px solid #d2b48c; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15); 
    overflow: visible; 
    margin-top: 2%;
    box-shadow:-12px 12px 8px #0F1B2C;
    z-index: 7;
}

.glasscard p {
    color: #fff; 
    font-size: 25px;
    line-height: 1.5;
    margin-bottom: 15px; /* Margin between paragraphs */
}

.glasscard strong {
    font-weight: bold; 
}

.glasscard .FAQ {
  cursor: pointer;
  align-self: center;
  border-bottom-width: 0px;
  justify-content: center;
  text-align: center;
  background-color: #0b074766;
  height: 45px;
  width: 30%;
  max-width: 200px;
  min-width: 120px;
  transition: all 0.4s ease-in-out;
  border: 1px solid white;
  border-radius: 2rem;
}

.glasscard .FAQ:hover{
  scale: 1.2;
  background-color: #110b6666;
}

.FAQ .Faqtext {
  color: aliceblue;
  margin-top: -2px;
}  
#poster-session .rowPoster2 .col-md-6 {
    font-size: 23px;
    width: 55%;
    scale: 1.25;
}

  #poster-session .btn1 {
	display: inline-block;
	font-family: inherit;
	font-size: 1.3rem;
	font-weight: 500;
	line-height: 1.5;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	user-select: none;
	outline: none;
	border: none;
	border-radius: 0.25rem;
	text-transform: unset;
	height: 10vw;
	overflow: hidden;
	padding: 0;
	width: 175px;
	height: 70px;
	border-radius: 70px;
	background-color: #d2b48c;
	transition: all .2s
}

@media only screen and (max-width:600px){
  #poster-session .btn1 {
    width: 145px;
    height: 60px;
  }
  
}

@media only screen and (min-width:2400px){
  .glasscard{
    max-width: 1600px;
    border-radius: 40px;
    filter: blur(0px);
  }
  .glasscard p {
    font-size: 50px;
  }
  .glasscard .FAQ {
    height: 70px;
    font-size: xx-large;
    width: 30%;
    max-width: 400px;
    min-width: 320px;
    transition: all 0.4s ease-in-out;
    border: 1px solid white;
    border-radius: 3rem;
  }
  #poster-session .rowPoster2 .col-md-6 {
    font-size: 40px;
  }
  #poster-session .btn1 {
    width: 300px;
    height: 90px;
    font-size: 2.5rem;
  }
}

@media only screen and (min-width:2400px){
  .amp {
    scale: 3;
  }
  .glasscard{
    max-width: 1900px;
    border-radius: 60px;
    filter: blur(0px);
  }
  .glasscard p {
    font-size: 64px;
  }
  .glasscard .FAQ {
    height: 100px;
    font-size: 45px;
    width: 50%;
    max-width: 500px;
    min-width: 400px;
    transition: all 0.4s ease-in-out;
    border: 2px solid white;
    border-radius: 3rem;
  }
  #poster-session .rowPoster2 .col-md-6 {
    font-size: 60px;
  }
  #poster-session .btn1 {
    width: 450px;
    height: 110px;
    font-size: 3.5rem;
  }
  #stay-tuned .container .rowSt .col-md-6 {
    width: 60%;
    z-index: 6;
    max-width: 900px;
  }
}

#poster-session .btn1 .textt {
	transition: all .2s;
	color: #fff;
}

#poster-session .btn1:hover {
	background-color: #cdd9e4;
	color: #000;
}

 #poster-session .btn1:hover .textt {
	transform: translateX(5px) scale(1.1);
	color: black;
}

#poster-session .btn1 .textt i{
    transform: rotateY(180deg);
    scale: 2;
    padding: 8%;
} 

/* #hero .btn1 img {
	opacity: 1;
	filter: invert();
} */

#poster-session .textt {
	position: absolute;
	display: flex;
	align-items: stretch;
    justify-content: flex-end;

}

#poster-session .btn1-inline {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	column-gap: 0.5rem;
}

#poster-session .textt i.bx-right-arrow-alt:before {
    content: "\21B5";
    top: -2px;
    position: relative;
}

body{
    background-color: black;
}
.amp{
    grid-template-columns: 1.5fr 5fr;
    display: grid; 
    align-items: center;
    z-index: 5;
}
.amp img{
    grid-area: 1 / 1;
    height: 100px;
    rotate: -45deg;
}

.textforphone {
    color: white;
    font-size: 1cm;
    opacity: 0;
    z-index: 5;
    position: absolute;
}

@media only screen and (max-width : 719px){
  .amp p {
    position: fixed;
  }
  .textforphone {
    opacity: 0.9;
    width: 80%;
  }
}

#glasscard-and-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6%;
}

#poster-session .rowPoster2{
    display: flex;
    font-size: larger;
    color: aliceblue;
    flex-direction: column;
    align-items: center;
    padding-top: 6%;
    width: 70%;
}

#poster-session .rowPoster1{
    display: flex;
    align-items: center;
    z-index: 6;
    width: 100%;
    height:100%
}

#poster-session .containerPoster{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5vh;
}

@media only screen and (max-width: 719px) {
  #poster-session .paper{
    opacity: 0;
  }
  .glasscard p {
    color: #fff;
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 15px;
  }
  #poster-session .rowPoster2 .col-md-6 {
    font-size: 13px;
    width: 60%;
  }
  .regbutton {
    scale: 0.8 !important;
  }
}

.Newbanner-line {
  width: 160px;
  transform: rotate(-45deg);
  height: 5vw;
  background-color: #D2B48C;
  /* margin: 0 auto; */
  position: absolute;
  top: 25px;
  overflow: hidden;
  left: -40px;
}
.Newbanner-line h2 {
  top: -2px;
  position: relative;
  font-size: 4.5vw;
  color: white;
  font-weight: 600;
}

.Newonlyforphone {
  width: 45%;
  height: 45%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

@media only screen and (min-width : 719px) {
  .Newonlyforphone {
      opacity : 0;
  }
}

#FAQpopup.active {
display: flex;
animation: opacitychange 1s forwards;
z-index: 651;
}

#FAQpopup{
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  /* z-index: 651; */
  opacity: 0;
  background: rgba(0,0, 0, 0.6);
  z-index: -1;
}

#FAQpopup .FAQpopup-content{
width: 70%;
max-width: 720px;
z-index: 655;
height: auto;
padding-bottom: 3vw;
padding-left: 5px;
padding-right: 5px;
border: 2px solid #bfd6ed;
border-radius: 15px;
position: relative;
background-color: rgb(29 29 72 / 73%);
/* max-height: 500px; */
box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.4);
transition: all 1s ease-in-out;
transition: height 0.3s ease;
}

#FAQpopup img{
  width: 100%;
  height: 100%;
  border-radius: 13px;
}

#FAQpopup .FAQpopblur{
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5); 
backdrop-filter: blur(5px); 
z-index: 650; 
display: flex;
justify-content: center;
align-items: center; 
}

#FAQpopup .FAQpopoutside{
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
opacity:100% ;
z-index: 651;
display: flex;
justify-content: center;
align-items: center; 
}

#FAQpopup p {
  position: absolute;
  top: 5%;
  left: 10%;
  right: 10%;
  color: aliceblue;
  font-size: 150%;
  text-align: center;
}

@media only screen and (max-width : 420px){
.amp h1{
  font-size: 40px !important;
}
  #FAQpopup button{
  left: 15%;
}
#FAQpopup p {
  font-size: 100%;
}
}

#FAQpopup .close{
position: absolute;
top: 2.5%;
right: 1.5%;
border-radius: 112%;
width: 30px;
height: 30px;
text-align: center;
align-content: center;
cursor: pointer;
transition: all 0.3s ease;
}

#FAQpopup .close:hover{
  scale: 1.2;
  transform: rotateZ(-45deg);
}

#FAQpopup:target{
  display: flex;
  justify-content: center;
  align-items: center;
}

#FAQpopup .main-title {
margin-bottom: 0.5rem;
text-align: center;
font-size: 2.32rem;
color: #d2b48c;
display: flex;
justify-content: center;
align-items: center;
}
#FAQpopup .main-title:before, .main-title:after {
content: "";
display: block;
margin: 0 0.2rem;
flex: 1;
border-bottom: 1px solid #d2b48c;
}
#FAQpopup .FAQwrapper {
width: 90%;
margin: auto;
margin-top: 10%;
}
a.template {
  color: #d2b48c;
  text-decoration: none;
  transition: color 0.3s;
  text-decoration: underline;
  
}
.content a.template:hover {
  color: #fff;
}
.content a.template:visited {
  color: #d2b48c;
  text-decoration: underline;
}
@media (max-width: 768px) {
#FAQpopup .FAQwrapper {
  width: 95%;
  padding: 0 0.3rem;
}}
@media (max-width: 550px) {
  #FAQpopup .main-title {
  font-size:1.82rem;
}
}
#FAQpopup input[type=radio] {
display: none;
}
#FAQpopup input[type=radio]:checked + .item .title {
color: #fff;
border-color: #d2b48c;
background-color: #d2b48c;
}
#FAQpopup input[type=radio]:checked + .item .title:after {
transform: rotate(180deg);
}
#FAQpopup input[type=radio]:checked + .item .content {
margin-top: 0.3rem;
margin-bottom: 0.3rem;
height: auto;
opacity: 1;
visibility: visible;
transition: all 0.3s, opacity 0.7s;
}

#FAQpopup .item {
display: block;
margin-bottom: 0.5rem;
}

#FAQpopup .title {
padding: 0.1rem 0.3rem;
border-radius: 0.3rem;
color: #d2b48c;
border: 1px solid;
font-weight: bold;
cursor: pointer;
transition: all 0.2s;
display: flex;
justify-content: space-between;
align-items: center;
}
#FAQpopup .title:after {
content: "▼";
display: inline-block;
font-size: 12px;
transition: transform 0.2s;
}

#FAQpopup .content {
width: 95%;
margin: 0 auto;
padding: 0 0.3rem;
line-height: 1.6;
color: #d2b48c;
border: 1px solid;
border-width: 0 1px;
height: 0;
opacity: 0;
visibility: hidden;
transition: all 0.2s;
}
