#speaker-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.spacebetweensections{
    margin-top: 50px;
    height:150px;
    width: 100%;
    z-index: 55;
    background :linear-gradient(to bottom, rgb(5, 26, 52 , 0.0) 20%,rgb(5, 26, 52 , 0.0) 50%, #051a34 90%);
}

#speaker-section .sptitle{
    color: aliceblue;
    font-size: 4.5rem;
    text-align: center;
}

#speaker-section .col-md-4{
    display: flex;
    justify-content: center;
    width: 40vh;
}

#speaker-section .speakersrow{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    column-gap: 50px;
    width: 86%;
    justify-self: center;
}
@media only screen and (max-width:1080px) {
    #speaker-section .speakersrow{
        width: 99%;
    }
}

#speaker-section {
    position: relative;
}

.card {
    border-radius: 15px;
    position: relative;
    height: 450px;
    background-color: transparent;
    width: 350px;
    border-color: transparent;
    justify-self: center;
    margin: 30px 0 auto;
    transition: all 1.3s ease;
    perspective: 1200px;
}

.card:hover p,
.card:hover .splinks,
.card:hover h2 {
    opacity: 1 !important;
}

.card:hover .cover {
    transform: rotateX(0deg) rotateY(-180deg);
}

.card:hover .cover:before {
    transform: translateZ(30px);
}

.card:hover .cover:after {
    background-color: black;
}

.card:hover .cover h1 {
    transform: translateZ(60px);
}

.card:hover .cover .job {
    transform: translateZ(60px);
}

.card:hover .cover .splinks a {
    transform: rotatey(-180deg);
}

.cover {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    transform-style: preserve-3d;
    transition: all 1.3s ease;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.cover:before {
    content: '';
    position: absolute;
    border: 5px solid #d2b48c;
    box-shadow: 0 0 12px rgba(0, 0, 0, .3);
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 140px;
    z-index: 2;
    transition: all 1.3s ease;
    transform-style: preserve-3d;
    transform: translateZ(10px);
}

.cover:after {
    border-radius: 15px;
    content: '';
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 140px;
    z-index: 2;
    transition: all 1.3s ease;
    background: rgba(0, 0, 0, .12);
    transform-style: preserve-3d;
    transform: translateZ(10px);
}

.cover h1 {
    font-weight: 600;
    position: absolute;
    align-self: center;
    bottom: 70px;
    text-align: center;
    color: white;
    transform-style: preserve-3d;
    transition: all 1.3s ease;
    z-index: 3;
    font-size: 1.9em;
    transform: translateZ(0px);
}

.cover .job {
    font-weight: 200;
    position: absolute;
    margin-bottom: -0.5em;
    bottom: 28px;
    width: 90%;
    color: white;
    transform-style: preserve-3d;
    transition: all 1.3s ease;
    z-index: 4;
    font-size: 1.35em;
    text-align: center;
    transform: translateZ(0px);
}

.card-back {
    position: absolute;
    height: 100%;
    border-radius: 15px;
    width: 100%;
    background: #1F385B;
    transform-style: preserve-3d;
    transition: all 1.3s ease;
    transform: translateZ(-1px);
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.card-back dialog{
    justify-self: center;
}


.card-back p {
    color: aliceblue;
    transform-style: preserve-3d;
    transform: translateZ(-8px) rotateY(180deg) !important;
    transition: opacity 1s;
    font-size: 17px;
    text-align: justify;
    width: 92%;
    opacity: 0;
    top: 38px;
    position: absolute;
}

.card-back h2 {
    color: aliceblue;
    transform-style: preserve-3d;
    transform: translateZ(-5px) rotateY(180deg) !important;
    opacity: 0;
    transition: opacity 1s;
    position: absolute;
    top: 5px;
    font-size: 22px;
}

.card-back .splinks {
    transform-style: preserve-3d;
    transform: translateZ(-25px);
    position: absolute;
    display: flex;
    bottom: 16px;
    border-radius: 15px;
    justify-content: space-around;
    width: 90%;
    height: 45px;
    border: 2px solid #d2b48c;
    flex-direction: row;
    opacity: 0;
    box-shadow: 4px 4px 15px #d2b48c;
    background-color: #d2b48c15;
    transition: opacity 1s;
    z-index: 5;
}

.card-back .splinks a {
    transform-style: preserve-3d;
    transition: transform 1.3s ease, scale 0.4s ease;
    transform: translateZ(-5px);
    background: transparent;
    font-weight: 200;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 2em;
    color: white;
    z-index: 5550;
}

.card-back .splinks a:hover {
    color: #d2b48c;
    scale: 1.4;
}

.card-back button {
    transform-style: preserve-3d;
    transform: rotateY(180deg) translateZ(15px);
    width: 130px;
    height: 40px;
    border-radius: 20px;
    position: absolute;
    bottom: 75px;
    color: aliceblue;
    border-color: transparent;
    font-size: 17px;
    box-shadow: -1px 3px 4px #d2b48c89;
    transition: all 0.4s ease-in;
    background-color: #d2b48c;
}

.card-back button:hover {
    background-color: aliceblue;
    color: #051a34;
}

.card-back svg {
    fill: aliceblue;
    -webkit-fill: aliceblue;
    -moz-fill: aliceblue;
}

.card-back svg:hover {
    fill: #d2b48c;
}

.card-back .twittersvg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    padding-bottom: 1%;
}

dialog {
    padding: 1rem 0rem 3rem 0rem;
    background: rgb(29 29 72 / 73%);
    width: 30%;
    min-width: 320px;
    display: none;
    justify-self: center;
    align-self: center;
    height: 400px;
    padding-top: 60px;
    border-radius: 20px;
    border: 0;
    box-shadow: 0 5px 30px 0 rgb(0 0 0 / 10%);
    animation: fadeIn 1s ease both;
}

dialog::backdrop {
    animation: fadeIn 1s ease both;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 2;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(8px);
}

.x {
    border: none;
    position: absolute;
    width: 30px !important;
    height: 30px !important;
    top: 0px;
    right: 10px;
    transition: ease filter, transform 0.3s;
    cursor: pointer;
    z-index: 5;
    transform-origin: center;
    background-color: transparent !important;
}

.x:hover {
    transform: scale(1.1);
}

.x img {
    width: 30px !important;
    height: 30px !important;
    filter: blur(0);
    transition: all 0.4s ease;
}

.x img:hover {
    scale: 1.3;
    transform: rotateZ(-45deg);
}

.splinks2 {
    position: absolute;
    bottom: 0;
    transform: none !important;
    width: 100%;
    display: flex;
    align-items: center;
    border-top: 2px solid #d2b48c;
    justify-content: space-around;
}

.splinks2 a {
    transform-style: preserve-3d;
    transition: transform 1.3s ease, scale 0.4s ease;
    transform: translateZ(-5px);
    background: transparent;
    font-weight: 200;
    font-size: 2em;
    color: white;
    align-content: center;
    z-index: 5550;
}

.splinks2 a:hover {
    color: #d2b48c;
    scale: 1.4;
}

dialog button {
    border-color: transparent;
    box-shadow: 0 0 0 !important;
    transform: none !important;
}

dialog.active{
    display: flex;
}

.scrollbox {
    overflow: auto;
    color: aliceblue;
    padding: 15px;
    width: 100%;
    text-align: start;

    font-size: 19px;
  }
  
  .scrollbox::-webkit-scrollbar {
    display: block;
	background-color: transparent;
	width: 5px;
}

.scrollbox::-webkit-scrollbar-thumb {
    border-radius: 99px;
    background-color: #d2b48c;
    border: 12px solid #d2b48c;
    display: flex;
}

.Name {
    position: absolute;
    height: 50px;
    width: 100%;
    top: 10px;
    border-bottom: 2px solid #d2b48c;
    color: #051a34;
}

.Name h1{
    position: absolute !important;
    bottom: 15px !important;
    right: 0px !important;
    left: 15px;
    text-align: left !important;
    font-size: 18px !important;
    color: aliceblue !important;
    font-weight: 700 !important;
    width: auto !important;
}

.Name h3{
    opacity: 1 !important;
    position: absolute !important;
    bottom: 0px !important;
    right: 0px !important;
    left: 15px;
    text-align: left !important;
    font-size: 14px !important;
    color: white !important;
    width: auto !important;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}


@media only screen and (min-width:1920px) {
    #speaker-section .card {
        height: 650px;
        width: 470px;
    }
    #speaker-section .card .card-back .spbiography{
        font-size: 16px !important;
    }
    .spacebetweensections{
        height: 300px;
    }
}

@media only screen and (min-width:2560px) {
    #speaker-section .card {
        height: 750px;
        width: 550px;
    }
    #speaker-section .card .card-back .spbiography{
        font-size: 18.5px !important;
    }
    #speaker-section .splinks a {
        font-size: 45px !important;
    }
    #speaker-section .splinks {
        border: 4px solid #d2b48c !important;
    }
    .cover::before{
        border: 5px solid #d2b48c !important;
        box-shadow: 0 0 12px rgba(0,0,0,.3) !important; 
        top:25px !important;
        left:25px !important;
        right:25px !important;
        bottom:140px !important;
    }
}

@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  #speaker-section .gradient {
    position: absolute;
    --size: 450px;
    --speed: 20s;
    --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);
  
    width: var(--size);
    height: 600px;
    filter: blur(calc(var(--size) / 5));
    background-image: linear-gradient(#bfd6ed72, #075388);
    animation: rotate var(--speed) var(--easing) alternate infinite;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    opacity: 0.4;
  }

@media only screen and (max-width:768px) {
    .gradient {
        display: none !important;
    }
    
}

.col-md-4:nth-child(1) .cover::before{
    border-radius: 15px;
    background: url(../assets/images/FirasBH.jpg) 0 -65px / cover;
}

.col-md-4:nth-child(2) .cover::before{
    border-radius: 15px;
    background: url(../assets/images/AmalRannenTriki.jpg) 0 0 / cover;
}

.col-md-4:nth-child(3) .cover::before{
    border-radius: 15px;
    background: url(../assets/images/YasmineBenAyed.jpg) 0 0 / cover;
}

.col-md-4:nth-child(4) .cover::before{
    border-radius: 15px;
    background: url(../assets/images/YassineKhanfir.jpg) 0 -00px / cover;
}

.col-md-4:nth-child(5) .cover::before{
    border-radius: 15px;
    background: url(../assets/images/Omarabousaada.jpg) 0 0 / cover;
}

.col-md-4:nth-child(6) .cover::before{
    border-radius: 15px;
    background: url(../assets/images/MašaRoller.jpg) -20px 0px / cover;
}