
@import url(https://fonts.googleapis.com/css?family=Raleway:400,200,300,800);

:root {
  --color-text: navy;
  --color-bg: papayawhip;
  --color-bg-accent: #ecdcc0;
  --size: clamp(10rem, 1rem + 40vmin, 30rem);
  --gap: calc(var(--size) / 14);
  --duration: 60s;

}
#Sponsors-Section {
  background: -webkit-linear-gradient(#051a34, #051a34);
  background: linear-gradient(#051a34 , #051a34);
}

.content p, a{
  font-size: 10pt;
  margin: 0 ;
  padding: 0;
  color:#333;
  }

#Sponsors-Section h1{
  position: relative;
  color: aliceblue;
  padding: 8%;
  text-align: center;
  width: 100%;
  font-size: xxx-large;
}

.partners  body {
      background-color: #1c2b5b;
      display: -webkit-flex; /* Safari */
      display: flex;
      display: -webkit-flex;
      justify-content: center;
      align-items: center;
      -webkit-flex-flow: wrap;
      flex-flow: wrap;
      margin: 0;
      /* height: 100%; */
    }
  .partners{
    max-width: calc(40vh * 4 + 10px * 3);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .partners figure.snip0058 {
    background: linear-gradient(to top, #c0cfff 0%, #FFF 30%, #FFF 70%, #c0cfff 100%) !important;;
    font-family: 'Raleway', Arial, sans-serif;
    position: relative;
    overflow: hidden;
    margin: 10px;
    width: 35vh;
    height: 35vh;
    background: #000000;
  }
  .partners figure.snip0058 * {
    -webkit-box-sizing: border-box;
    -webkit-box-align: center;
    box-sizing: border-box;
  }
  .partners figure.snip0058 > img {
     margin-block-start: 9vh;
  margin-block-end: -20vh;
    padding: 2vh;
    opacity: 1;
    width: 100%;
    filter: blur(0px);
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }

  .partners figure.snip0058 figcaption {
    left: 10%;
    margin-bottom: -24%;
    position: absolute;
    right: 10%;
    text-align: left;
    bottom: 130%;
    font-weight: 900;
    -webkit-transition: bottom 1s;
    transition: bottom 1s;
  }
  .partners figure.snip0058 figcaption h2 {
    width: 100%;
    text-align: left;
    border-radius: 0 0 5px 5px;
    margin: 0;
    padding: 15px 20px;
    font-size: 1.1em;
    bottom: 0;
    font-weight: 300;
    text-transform: uppercase;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    background-color: #3c4374;
    color: white;
    position: relative;
    z-index: 1;
  }
  .partners figure.snip0058 figcaption h2 span {
    font-weight: 700;
    font-size: 15px;
  }
  .partners figure.snip0058 figcaption p {
    position: relative;
    background-color: rgba(255, 255, 255, 0.9);
    color: #000;
    margin: 0;
    font-size: 0.75em;
    min-height: 30vh;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
  }
  .partners figure.snip0058 figcaption p span {
    padding: 0px 0px;
    position: absolute;
    font-size: 0.71rem;
    bottom: 6%;
    position: -webkit-sticky;
    display: flex;
    width: 90%;
  }

  @media only screen and (min-width :1281px) {
    .partners figure.snip0058 figcaption p span {
      padding: 0px 0px;
      position: absolute;
      font-size: 11px;
      bottom: 6%;
      display: flex;
      width: 90%;
    }
  }
  @media only screen and (min-width :1600px) {
    .partners figure.snip0058 figcaption p span {
      padding: 0px 0px;
      position: absolute;
      font-size: 1.5vh;
      bottom: 10%;
      display: flex;
      width: 90%;
    }
  }

@media only screen and (max-width :1181px) {
  .partners figure.snip0058 figcaption p span {
    padding: 0px 0px;
    position: absolute;
    font-size: 10.2px;
    bottom: 5.5%;
    display: flex;
    width: 90%;
  }
}

@media only screen and (max-width: 450px) {
  .partners figure.snip0058 figcaption p span {
      padding: 0px 0px;
      position: absolute;
      font-size: 9px;
      bottom: 9%;
      display: flex;
      width: 90%;
  }
}

@media only screen and (min-width: 2000px){
.partners figure.snip0058 figcaption p span {
    padding: 0px 0px;
    position: absolute;
    font-size: 1.4rem;
    bottom: 10%;
    display: flex;
    width: 90%;
  }
  #Sponsors-Section h1{
    font-size: 8rem;
  }
}

@media only screen and (min-width: 3000px){
  .partners figure.snip0058 figcaption p span {
      padding: 0px 0px;
      position: absolute;
      font-size: 2rem;
      bottom: 10%;
      display: flex;
      width: 90%;
    }
    #Sponsors-Section h1{
      font-size: 8rem;
    }
    .figcaption p{
    min-height: 604px;
    }
  }

  .partners figure .read-more {
      opacity: 0;
      border: 1px solid #3c4374;
      font-size: 0.8em;
      text-decoration: none;
      background-color: black;
      color: white;
      display: inline-block;
      padding: 5px;
      position: absolute;
      right: 0;
      bottom: 1vh;
  
    }
  
    .partners figure:hover .read-more {
  
      opacity: 1;
      bottom: -4vh;
      transition: bottom 0.35s, opacity 2.7s;
   
    }
  
  
  
    .partners figure .read-more:hover {
      background-color: white;
      color: #3c4374;
      transition: 0.7s;
  
    }
  
  
    .partners figure.snip0058:after {
    position: absolute;
    display: block;
    bottom: -15px;
    height: 15px;
    right: 30px;
    left: 30px;
    border-radius: 5px 5px 0 0;
    background-color: #3c4374;
    z-index: 2;
    content: '';
    -webkit-transition: bottom 0.35s;
    transition: bottom 0.35s;
  }
  
  
  .partners figure.snip0058 a:hover {
    opacity: 1;
  }
  .partners figure.snip0058:hover > img{
    opacity: 0.5;
    filter: blur(5px);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  .partners figure.snip0058:hover figcaption {
    bottom: 40%;
  }
  
  .partners figure.snip0058:hover figcaption::before{
    opacity: 0.85;
  }
  .partners figure.snip0058:hover::after {
    bottom: 0;
  }
